
    $color-primary-pink : #FFA3A3;
    $color-primary-black : #222222;
   $color-primary-red: #FC5252;
   $color-primary-blue : #381DDB;
   $color-primary-white : #FFFFFF;

.contents-wrapper{
   margin: auto;
   color: $color-primary-white;
   position: relative;
   
   #kaal{
  
    height: 100%;
    width: 100%;
    filter: blur(3px);

   }
//  background-image: url(../Header//images/Main_image.jpg);
    // background-image: url(./images/Sabian.jpg);
    // filter: grayscale(100%);
    // filter: drop-shadow(16px 16px 20px rgb(33, 5, 5)) invert(9%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;   
   
    .wraps{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.063);
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        .title{
            display: grid;
            place-content: center;
            font-size: 1.125rem;
          }
       
          .sub-title{
           display: grid;
           place-content: center;
           font-size: 1.125rem;
       
          }
          
          .buttons{
           display: flex;
           place-content: center;
           gap: 20px;
       
               button{
                   //    background-color: #FC5252;
                       background-color: transparent;
                       padding: .125rem 2rem;
                       // border: none;
                       border: 2px solid #FC5252;
                       border-radius: 5px;
                       color:#ffffff;
                       transition: all .3s ease-in-out;
       
                       &:hover{
                           background-color: #FC5252;
                           border: none;
                           padding: .125rem 3rem;
                           transition: .3s ease;
                       }
                   }
       
       
               .watch{
                   .icons{
                       // background-color: 
                       font-size: 2rem;
                   }
               }
          }
    }

}